#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.profile-pic{
  /* fix the scaling issue here */
  display: flex;
}
.profile-pic img{
  
}
.projects {
  display: flex;
  justify-content: center;
}
.project-card {
  margin: 10vh;
  display: flex;
  flex-direction: column;
}

.project-picture img{
  height: 40vh;
  width: 30vw;
  border-radius: 2%;
}
.project-description{
  margin-top: .5vh;
}